<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csclib.mapper.CertificatesMapper">

    <select id="queryAllCert" resultType="com.csclib.entity.CertificatesView">
        SELECT *
        FROM v_certificates
        where deleted = 0
    </select>

    <select id="queryByCondition" resultType="com.csclib.entity.CertificatesView">
        SELECT *
        FROM v_certificates
        where deleted = 0
        <if test="empname != null">
            and empname like CONCAT('%',#{empname},'%')
        </if>
        <if test="company != null">
            and company = #{company}
        </if>
    </select>

    <select id="getCount" resultType="int">
        select count(*)
        from v_certificates
        where deleted = 0
        <if test="empname!=null">
            and empname like CONCAT('%',#{empname},'%')
        </if>
        <if test="company!=null">
            and company = #{company}
        </if>
    </select>

    <select id="checkCertId" resultType="com.csclib.entity.CertificatesView">
        SELECT id,
        certid,
        certName,
        registryDate,
        applyDate,
        loseEfficacyDate,
        status,
        empid,
        version,
        gtm_create,
        gtm_modify,
        deleted,
        empname,
        company
        FROM v_certificates
        WHERE deleted = 0
        <if test="certid!=null">
            AND certid = #{certid}
        </if>
    </select>
</mapper>
